<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    <title>{{ page_title }}</title>

    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body>

    {% section 'header' %}

    {{ content_for_layout }}

    {% section 'soltex_footer' %}

  </body>
</html>
