{% schema %}
{
  "name": "Sobre Nosotros",
  "tag": "section",
  "class": "soltex-about-section",
  "settings": [
    {
      "type": "text",
      "id": "about_heading",
      "label": "Título principal",
      "default": "¿QUIÉNES SOMOS?"
    },
    {
      "type": "textarea",
      "id": "about_text",
      "label": "Texto de descripción",
      "default": "Somos líderes en el sector textil, ofreciendo máquinas, refacciones y soluciones de calidad para tu industria."
    }
  ],
  "presets": [
    {
      "name": "Sobre Nosotros"
    }
  ]
}
{% endschema %}

<section class="about-us">
  <div class="about-container">
    <h2>{{ section.settings.about_heading | escape }}</h2>
    <p>{{ section.settings.about_text | escape }}</p>
  </div>
</section>

<style>
  .about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
  white-space: pre-line;
}

.about-us {
  background-color: #F2F2F2;
  padding: 80px 20px;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
}

.about-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
}
</style>
