<section class="brands-grid">
  <div class="brands-grid-container">
    {% assign logos = "logo_yamato.png,logo_juki.png,logo_durkopp_adler.png,logo_brother.png,logo_pegasus.png,logo_kansai_special.png,logo_siruba.png,logo_sunstar.png,logo_singer.png,logo_union_special.png,logo_mitsubishi.png,logo_seiko.png,logo_avery_dennison.png,logo_feedrail.png,logo_pfaff.png,logo_jack.png,logo_hirose.png,logo_cm_cerliani.png,logo_koban.png,logo_mundial.png" | split: "," %}

    <div class="brands-grid-logos">
      {% for logo in logos %}
        <div class="brand-logo-card">
          <img src="{{ logo | asset_url }}" alt="Logo {{ logo | remove: '.png' | remove: '.svg' }}">
        </div>
      {% endfor %}
    </div>

    <div class="brands-grid-button">
      <a href="/collections/all" class="view-all-products-button">
        Ver todos los productos
      </a>
    </div>
  </div>
</section>
