<section class="brand-grid">
  <div class="brand-grid-container">
    {% assign brands = "logo_yamato.png,logo_juki.png,logo_durkopp_adler.png,logo_brother.png,logo_pegasus.png,logo_kansai_special.png,logo_siruba.png,logo_sunstar.png,logo_singer.png,logo_union_special.png,logo_mitsubishi.png,logo_seiko.png,logo_avery_dennison.png,logo_feedrail.png,logo_pfaff.png,logo_jack.png,logo_hirose.png,logo_cm_cerliani.png,logo_koban.png,logo_mundial.png" | split: "," %}
    
    {% for brand in brands %}
      <div class="brand-card">
        <a href="#">
          <img src="{{ brand | asset_url }}" alt="Marca" />
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="brand-grid-button">
    <a href="/collections/all" class="brand-view-all-button">Ver Todos los Productos</a>
  </div>
</section>
