
.map-points {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
}

.map-points li {
    min-width: 120px;
}

@media (max-width: 768px) {
    .map-points {
        flex-direction: column;
        gap: 15px;
    }

    .map-points li {
        min-width: auto;
        font-size: 1em;
    }
}
